.row.justify-content-center
  .col-md-6
    .box.m1y
      = form_for @trip, url: trips_path, method: :post, remote: true do |f|
        .form-group
          %label
          Title
          %span.text-danger= @trip.errors.messages[:title].join
          = f.text_field :title, class: 'form-control', placeholder: 'ex: Longs Peak Highline'
        .form-group
          %label
          Description
          %span.text-danger= @trip.errors.messages[:description].join
          = f.text_area :description, class: 'form-control', placeholder: 'This message will be sent to your contacts. Some people use this field for local SAR contacts, or emergency instructions...'

        .form-group
          %label
          Check In Time
          %span.text-danger= @trip.errors.messages[:check_in_time].join
          = f.text_field :check_in_time, class: 'form-control datetimepicker'
        %hr
          = f.submit 'Save', class: 'btn btn-success'
          = link_to 'cancel', "#"

:javascript
  $(function(){
    $('.datetimepicker').datetimepicker({
      timeFormat: 'HH:00',
      dateFormat: 'yy-mm-dd',
      showMinutes: false,
    });
  })
