.row.justify-content-center
  .col-md-12
    .box.m1y
      = form_for @trip, url: trips_path, method: :post, remote: true do |f|
        .row
          .col-md-4
            .form-group
              %label
              Title
              %span.text-danger= @trip.errors.messages[:title].join
              = f.text_field :title, class: 'form-control', placeholder: 'ex: Longs Peak Highline'
            .form-group
              %label
              Description
              %span.text-danger= @trip.errors.messages[:description].join
              = f.text_area :description, class: 'form-control', rows: '7', placeholder: 'This message will be sent to your contacts. Some people use this field for local SAR contacts, or emergency instructions...'

            .form-group
              %label
              Check In Time
              %span.text-danger= @trip.errors.messages[:check_in_time].join
              = f.text_field :check_in_time, class: 'form-control datetimepicker'

          .col-md-4
            %ul.list-group
              = f.collection_check_boxes :contact_ids, current_user.contacts.all, :id, :full_name do |b|
                %li.list-group-item
                  = b.check_box(checked: "false")
                  = b.object.full_name


          .col-md-4
            %span.text-danger= @trip.errors.messages[:latitude].join
            %input.form-control{id: 'searchTextField', type: 'text'}
            #trip-location-map{style: 'height: 400px; width: 100%;'}
            = f.hidden_field :latitude, placeholder: 'lat'
            = f.hidden_field :longitude, placeholder: 'lon'
        %hr
          = f.submit 'Save', class: 'btn btn-success'
          = link_to 'cancel', "#"

:javascript
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

  
  if (typeof(google) == "undefined"){
    var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places&callback=init";
        document.body.appendChild(script);
  }else{
    init();
  }

  function init(){
    var map = new google.maps.Map(document.getElementById('trip-location-map'), {
      center: {lat: 34, lng: -118},
      zoom: 8
    });

    var marker = new google.maps.Marker({
        position: {lat: 34, lng: -118},
        map: map,
        draggable: true
    })

    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('searchTextField'));
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();

      var latitude = place.geometry.location.lat();
      var longitude = place.geometry.location.lng();

      var myLatlng = new google.maps.LatLng(latitude,longitude);
      marker.setPosition(myLatlng);
      map.panTo(myLatlng);

      $("#trip_latitude").val(latitude);
      $("#trip_longitude").val(longitude);
    });

    google.maps.event.addListener(marker, 'dragend', function(event){
      latitude = event.latLng.lat();
      longitude = event.latLng.lng();
      console.log('dragged');
      console.log(latitude);
      $("#trip_latitude").val(latitude);
      $("#trip_longitude").val(longitude);
    });
  };
