.row.justify-content-center{id: dom_id(trip)}
  .col-md-6
    .box.m1y
      .trip-title
        .i.fa.fa-clock-o{class: (trip.check_in_time_has_past? ? 'text-danger' : 'text-success').to_s}
        = link_to trip.title, trip_path(trip)
        .pull-right
          %small
            = link_to 'public share url', public_trip_url(trip.user.url_slug, trip.id), target: '_blank'
      .trip-description.pad2b
        = trip.description

      %small Intended check in time:
      %small.text-muted
        = trip.check_in_time.in_time_zone.strftime('%b %e, %l:%M %p %Z')

      - if trip.checked_in?
        .text-success
          %i.fa.fa-check
          #{trip.user.full_name} has checked in
      - else
        = link_to trip_path(trip, trip: {checked_in: true}), method: :put, remote: true do
          .btn.btn-primary.btn-block.btn-lg.m3t Check In


