.row.justify-content-center
  .col-md-12
    .box.m1y
      = form_for contact, url: contacts_path, method: :post do |f|
        .form-group
          %i.fa.fa-user
          = f.text_field :full_name, class: 'form-control', autofocus: true, placeholder: 'Full Name'
        .form-group
          %i.fa.fa-phone
          = f.text_field :phone_number, class: 'form-control', placeholder: '8005556666'
        .form-group
          %i.fa.fa-envelope-o
          = f.text_field :email, class: 'form-control', placeholder: 'e@mail.com'

        %hr
          = f.submit 'Save', class: 'btn btn-success'
