.container
  .row.pad4y
    .col-lg-5
      %h2 Get Started
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id delectus aliquam alias sequi sit dolorem doloremque enim perspiciatis vel, eveniet iusto est excepturi. Error doloremque repudiandae eum, maxime iure.
      .row.pad2y
        .col-lg-1
          %i{"data-feather" => "check"}
        .col-lg-11
          %p
            Create trips that show where you're headed, what you're doing, and when you'll be back.
        .col-lg-1
          %i{"data-feather" => "check"}
        .col-lg-11
          %p
            Create trips that show where you're headed, what you're doing, and when you'll be back.
    .col-lg-7
      .box
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            = f.label :full_name
            = f.text_field :full_name, autofocus: true, class: 'form-control'
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'
          .form-group
            = f.label :phone_number
            = f.text_field :phone_number, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if @minimum_password_length
              .small.text-muted
                (#{@minimum_password_length} characters minimum)
          .form-group
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .actions
            = f.submit "Sign up", class: 'btn btn-primary btn-lg'
